.about-body {
  background-color: #f5f7fa;
  height: 100vh;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
    'title . image'
    '. text .'
    '. text icons';
}

.title-container {
  grid-area: title;
}

.about-text {
  font-family: 'Raleway', sans-serif;
  grid-area: text;
  max-width: 100%;
  /* display: flex; 
  flex-wrap: wrap; */
  /* justify-content: center;  */
}

.image-container {
  grid-area: image;
  max-width: 100%;
  /* background-image: url('../images/image-of-me/image-of-me-coat.jpg'); */
}

.icons {
  display: flex;
  flex-wrap: wrap;
  grid-area: icons;
  max-width: 100%;
}

.about-segment-links {
  color: black;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}
.image-of-me {
  margin-top: 10px;
  height: 200px;
}
/* 
.title-and-about {
  display: flex;
} */

.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  .about-body {
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    grid-template-areas:
      'title .'
      'text text'
      'icons icons';
  }

  .about-text {
    max-width: 100%;
    grid-area: text;
    column-width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(117, 117, 117);
    border-radius: 5px;
  }
  .icons {
    grid-area: icons;
  }
}

/* @media only screen and (min-width: 601px) and (max-width: 900px) {
  .about-body {
    background-color: #f5f7fa;
    height: auto; */
/* height: auto;
    display: flex; */
/* flex-wrap: wrap; */
/* justify-content: center;
  } */

/* .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    margin-top: 3em;
    width: auto;
  } */
/* .image-of-me {
  }
  .image-container {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .about-text {
    font-family: 'Raleway', sans-serif;
    width: 25em;
  }
}

@media only screen and (min-width: 901px) {
  .title-and-about {
    justify-content: space-between;
  }

  .icon-container {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  /* .image-of-me {
    width: 10em;
    height: 10em;
  } */
/* .about-text {
    font-family: 'Raleway', sans-serif;
    width: 25em;
    height: 25em;
  }

  .text-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 190px;
  }

  .about-text {
    margin-right: 5px;
    margin-left: 10px;
    height: 650px;
    overflow: scroll;
  }
  .icons-and-image {
    align-items: flex-end;
  }
} */
