.contact-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f5f7fa;
}
.contact-text {
  font-family: 'Raleway', sans-serif;
  margin: 20px 0px 20px 10px;
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  .contact-body {
    height: auto;
  }
  .title-and-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;
  }
  .contact-text {
    margin-bottom: 20px;
  }
}


@media only screen and (min-width: 601px) and (max-width: 900px) {
.contact-body { 
  justify-content: flex-start;
}

}

@media only screen and (min-width: 901px) { 
  .contact-body {
    padding-bottom: 15px;
  }
}