.contact-body {
  height: 100vh;;
  display: flex;
  align-items: flex-start;
}

.title-and-links {
  display: flex;
  flex-direction: column;
}

.contact-segment-links {
  text-decoration: none;
  margin: 20px;
}
