@media only screen and (max-width: 30em) {
  .contact-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title-and-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;

  }

  .contact-segment-links {
    text-decoration: none;
    margin: 20px;
  }
}
