.sideSpin-image,
.climb-comm-image {
  width: 5em;
  height: auto;
}

@media only screen and (max-width: 30em) {
  .projects-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
  }
  .title-container {
    padding-left: 2em;
  }
  .project-cards {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    margin-top: 5em;
  }
  .sideSpin-image,
  .climb-comm-image {
    width: 5em;
    height: auto;
  }
}

/* @media only screen and (max-width: 48em) {
  .projects-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
  }
  .project-cards {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    margin-top: 5em;
  }
 
} */
