.projects-body {
  height: 650px;
  width: auto;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
}

.projects-segment-link {
  text-decoration: none;
  margin: 20px;
}

.segment-links {
  
}

.sideSpin-image {
  width: 150px;
  height: auto;
}

.project-cards {
  display: flex;
  justify-self: flex-end;

}
