.title {
  display: inline-block;
  width: auto;
  font-family: 'Righteous', cursive;
  font-size: 100px;
  border-right: 3px solid #ff671e;
  border-bottom: 3px solid #ff671e;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 3px;
  margin: 10px;
}

@media (max-width: 600px) {
  .title {
    font-size: 50px;
    border-right: transparent;
    border-bottom-right-radius: 0px;
  }
}
