/* .project-card {
  height: 8em;
  overflow: hidden;
}

.expand-project-card {
  height: 30em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-card,
.expand-project-card {
  width: auto;
  border: 1px solid transparent;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

/* .image {
  height: 1em;
  width: auto;
  display: inline-block;
} */
.project-card {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.expand-arrow {
  align-self: center;
  font-size: smaller;
}

.expand-arrow:hover {
  text-decoration: none;
}

.title-arrow-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
  .card-open {
    height: 200px;
    overflow: scroll;
  }
}
@media only screen and (min-width: 900px) {
  .card-open {
    height: 200px;
    max-width: 500px;
  }
}
