.segment-links {
  font-family: 'Righteous', cursive;
  text-decoration: none;
  /* background-color: #ff671e; */
  color: #ff671e;
  margin: 15px;
  padding: 10px;
  /* border: 2px solid black;
  border-top: transparent;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; */
}

.segment-links:active {
  color: #ca4102;
}
