.form-body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: 'Raleway', sans-serif;
}

input,
textarea {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  box-shadow: none;
}

textarea {
  width: 350px;
  height: 150px;
}

.btn-submit {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  max-width: 150px;
  border-radius: 10px;
  border-color: #2b580c;
  background-color: #326e2c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #326e2c),
    color-stop(100%, #639a67)
  );
}

.btn-submit:hover {
  cursor: pointer;
  background-color: #2b580c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #2b580c),
    color-stop(100%, #639a67)
  );
}

.invalid input, .invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus, .invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
