.form-body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.inputs {
  display: flex;
}

.message-and-btn {
  display: flex;
  flex-direction: column;
}
 textarea {
    height: 200px;
  }

input,
textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: none;
}

/* textarea {
  width: 350px;
  height: 150px;
} */

.btn-submit {
  font-weight: bold;
  max-width: 150px;
  border-radius: 10px;
  border-color: #2b580c;
  background-color: #326e2c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #326e2c),
    color-stop(100%, #639a67)
  );
}

.btn-submit:hover {
  cursor: pointer;
  background-color: #2b580c;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #2b580c),
    color-stop(100%, #639a67)
  );
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {

  .inputs {
    flex-direction: column;
  }
  .message-and-btn {
    flex-direction: column;
  }
  textarea {
    height: 150px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
 .message-and-btn {
    flex-direction: column;
  }

}