.project-card {
  height: 8em;
  overflow: hidden;
}

.expand-project-card {
  height: 30em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-card,
.expand-project-card {
  width: auto;
  border: 1px solid transparent;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  display: inline-block;
}

.expand-arrow {
  align-self: center;
  font-size: smaller;
}

.expand-arrow:hover {
  text-decoration: none;
}

.title-arrow-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
